@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bruno Ace SC', cursive;
}
body{
    text-align: center;
    justify-content: space-around;
    align-items: center;
    background: url("https://source.unsplash.com/random/1678x1678/?nature");
    padding: 30px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.container {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

.box {
  width: 600px;
  height: 700px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.card i {
  font-size: 60px;
  color: #20b2aa;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.alts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.alts p {
  font-size: 16px;
  margin-bottom: 10px;
}

.g_id_signin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

hr {
  width: 100%;
  margin: 20px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 05px;
}

input:focus {
  outline: none;
  border: 2px solid #20b2aa;
}

small {
  color: #ff0000;
  font-size: 14px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 10px;
}

#sub {
  width: 100%;
  height: 40px;
  background-color: #20b2aa;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

#sub:hover {
  background-color: #3cb371;
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 999;
}

.loader {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loader-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #222;
  animation: loader-rotate 1.25s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.loader-circle:nth-child(1) {
  animation-delay: 0s;
}

.loader-circle:nth-child(2) {
  animation-delay: 0.4s;
}

.loader-circle:nth-child(3) {
  animation-delay: 0.8s;
}

@keyframes loader-rotate {
  0% {
    transform: rotate(0deg);
    opacity: 0.5;
  }
  50% {
    transform: rotate(180deg);
    opacity: 1;
    transform: scale(1.25);
    background: #3cb371;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.5;
  }
}
